.sidebar{
   /* position */
   position: fixed;
   left: 0;
   bottom: 0;
   top: 55px;
   width: 72px;

   z-index: 101;
   background-color: white;
}

@media (max-width:600px) {
   .sidebar{
      visibility: hidden;
   }
}

.sidebar-link{
   
   height: 75px;

   display:flex;
   justify-content: center;
   align-items: center;

   /* verticaly flex oposite is row for horizontal */
   flex-direction: column;
   
}

.sidebar-link:hover{
   background-color: lightgray;
   cursor: pointer;
}

.sidebar-icon{
   height: 30px;
}
.sidebar-link img{
   height: 24px;
   margin-bottom: 5px;
}

.sidebar-link div{
   font-size: 10px;
}