.chanell-picture{
   /* it is uset to align wanted items verticaly */
   vertical-align: top;
}


.profile-picture{
   width: 65%;
   border-radius: 25px;
}

.search-bar{
   font-size: 20px;
   margin-left: 12px;

   /* To make items fill the whole row */
   display: block;
}   

.thumbnail{
   width: 100%;

   /* To make items fill the whole row */
   display: block;
}

.video-title{
   margin-top: 0;
   font-size: 14px;

   /* to use to chance boldness of the text */
   font-weight: 500;

   /* space between lines */
   line-height: 20px;
   
   margin-bottom: 12px;
}

.video-author,.video-stats{
   font-size: 12px;
   color: rgb(96, 96, 96);
}
.video-author{
   margin-bottom: 4px;
}

.video-info-grid{
   /* grid */
   display: grid;

   /* to make two columned grid */
   grid-template-columns: 50px 1fr;
   
   margin-top: 12px;
}

.video-grid{
   /* grid */
   display: grid;

   /* to make three columned grid */
   grid-template-columns: 1fr 1fr 1fr ;
   
   /* give margin between grid cells */
   column-gap: 16px;
   row-gap: 40px;

   margin-top: 12px;
}

@media (max-width:800px) {
   .video-grid{
   grid-template-columns: 1fr 1fr;
   }
}
@media (min-width:1050px) {
   .video-grid{
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
}
.video-time{

   /* position declaration for position inside of the page */
   position: absolute;
   bottom: 5px;
   right: 5px;
   color: white;
   background-color: black;
   font-size: 10px;
   font-weight: 500;
   padding: 2px;
   border-radius: 10%;

}

.thumbnail-row{
   position: relative;
}


